Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
.DS_Store
*.meta
*.unity
*.asset
*.prefab
*.mat
*.png
*.jpg
*.fbx
Packages/
ProjectSettings/
*.csproj
*.slnx
*.sln
*.inputactions
.vscode/
README.md
